body {
    margin: 0;

}
ul {
    display:flex;
    list-style-type: none;
    gap: 28px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color:#e5e7eb;
    font-size: 18px;
}

.container1 {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    border-color: #1f2937;
}

.header {
    padding:20px 220px;
    margin-left: 70px;
    margin-right: 70px
}

.logo {
    margin-right: auto;
    font-size: 24px;
    color: #f9faf8;
}

.c1-body {
    display: flex;
    padding: 80px 220px;
    gap: 50px;
    margin: 70px;
}

.c1-body-left,
.c1-body-right {
    flex:1;
}

.c1-body-left{
    max-width: 430px;
}


.heading1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    font-family:;
}

.content1 {
    font-size: 18px;
    color: #e5e7eb;
}

.sign-up {
    padding: 10px;
    margin-top: 20px;
    background-color: #3882f6;
    border-radius: 15px;
    width: 150px;
    color: #f9faf8;
    border-style: none;
    font-size: 18px;
}

.container2 {
    display: flex;
    flex-direction: column;
    padding:50px 250px ;
    text-align: center;
}

.header2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}